::-webkit-scrollbar {
    width: 10px;
    background: grey;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(163, 43, 43, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
body{
    margin: 0%;
    background: whitesmoke;
    background-attachment: fixed;
    transition: 0.3s;
}
#main{

    background: rgba(151, 65, 65, 0);
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}
#navBar{

    /* background: #6C55E0; */

    background-image: linear-gradient(to right bottom, #8500ce, #992fd1, #ab4bd4, #bb64d8, #c97cdc);

    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    width: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#navBar.activeBody{
    background: rgb(29, 29, 29);
}
#iconDarkMode.activeBody{

    color: grey;
}
#infMain{

    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    transition: 0.5s;

    /* display: flex;
    flex-direction: row; */
}
#linkNav{
   
    text-decoration: none;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    font-size: 14pt;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#linkNav:hover{

    color: white;
    font-weight: 600;
}
#btnDarkMode{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14pt;
}
i{
    transition: 0.6s;
}
i:hover{
    transform: scale(1.3);
}
h1, p{
    transition: 0.4s;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
p{
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    color: #ab4bd4;
    margin: auto;
    margin-top: -10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
#mainImg{

    margin-top: 20px;
    width: 200px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}

footer{

    width: 100%;
    height: 60px;
    margin-top: 100px;
}
#divLinks{
    margin: auto;
    margin-top: -30px;
    background: rgb(255, 255, 255);
    width: 200px;
    height: 35px;
    border-radius: 25px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* background-image: linear-gradient(to right bottom, #00f4ff, #00d7ff, #00b7ff, #0092ff, #0066f8); */
    text-align: center;
    padding: 10px;
}
#linkFooter{
    color: rgb(139, 139, 139);
    background: rgba(255, 192, 203, 0);
    margin: 15px;
    font-size: 22pt;
}
i{
    transition: 0.6s;
}
i:hover{
    transform: scale(1.3);
}
.instagram:hover{
    
    color: #ff4040;
    color: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
}
.linkdin:hover{

    color: royalblue;
}
.github:hover{

    color: black;
}
