::-webkit-scrollbar {
    width: 10px;
    background: grey;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(163, 43, 43, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
body{
    margin: 0%;
    background: rgb(255, 60, 60);
    background: linear-gradient(90deg, rgb(255, 84, 84) 21%, rgb(255, 153, 0) 82%);
    background-attachment: fixed;
    transition: 0.3s;
}
#main{

    background: rgba(151, 65, 65, 0);
    height: 545px;
    
}
#navBar{

    background: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    transition: 0.5s;

    margin-top: -30px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;

    width: 500px;

    

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#navBar.activeBody{
    background: rgb(29, 29, 29);
}
#iconDarkMode.activeBody{

    color: grey;
}
#infMain{

    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    transition: 0.5s;

    /* display: flex;
    flex-direction: row; */
}
#linkNav{
   
    text-decoration: none;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    font-size: 14pt;
    color: rgb(139, 139, 139);
    transition: 0.5s;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#linkNav:hover{

    border-bottom: 2px solid brown;
    color: brown;
}
#btnDarkMode{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14pt;
}
i{
    transition: 0.6s;
}
i:hover{
    transform: scale(1.3);
}
h1, p{
    transition: 0.4s;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
p{
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#mainImg{

    width: 262px;
    height: 408px;
    border-radius: 10%;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
