
::-webkit-scrollbar {
    width: 0px;
    background: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(163, 43, 43, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6C55E0; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f6cdf; 
  }
body{
    margin: 0%;
    background-image: url(./images/backgroundneon.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}
#main{

    background: rgba(0, 0, 0, 0.872);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}
#navBar{

    /* background: #6C55E0; */

    background-image: linear-gradient(to right bottom, #8500ce, #992fd1, #ab4bd4, #bb64d8, #c97cdc);
    padding: 10px;
    transition: 0.5s;
    border-radius: 0px 0px 10px 10px;
    width: 200px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#infMain{

    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    transition: 0.5s;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
body.activeBody{

    background: rgb(29, 29, 29);
}
footer{

    /* background: rgb(255, 60, 60);
    background: linear-gradient(90deg, rgb(255, 84, 84) 21%, rgb(255, 153, 0) 82%);
    background-attachment: fixed; */
    width: 100%;
    height: 60px;
    margin-top: 360px;
}
#divLinks{
    margin: auto;
    margin-top: -30px;
    background: rgb(255, 255, 255);
    width: 200px;
    height: 35px;
    border-radius: 25px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    text-align: center;
    padding: 10px;
}
#linkFooter{
    color: rgb(139, 139, 139);
    background: rgba(255, 192, 203, 0);
    margin: 15px;
    font-size: 22pt;
}
i{
    transition: 0.6s;
}
i:hover{
    transform: scale(1.3);
}
.instagram:hover{
    
    color: #ff4040;
    color: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
}
.linkdin:hover{

    color: royalblue;
}
.github:hover{

    color: black;
}
#mainImg{

    width: 80%;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(231, 73, 73, 0) 0px 3px 8px;
    cursor: pointer;
}
#linkNav{
   
    text-decoration: none;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    font-size: 12pt;
    color: white;
}

#linkNav:hover{

    color: white;
    font-weight: 600;
}
.inf1{

    background: rgba(204, 204, 204, 0);
    width: 400px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    border-radius: 15px;
    border: 1px solid #ab4bd4;
    transition: 0.4s;

    box-shadow: #6c55e06b 0px 3px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
h1{
    transition: 0.4s;
    font-family: 'Quicksand', sans-serif;
    /* color: #6C55E0; */
    color: #ab4bd4;
}
#linkView{

    background: #ab4bd4;
    color: white;
    margin: auto;
    margin-top: 30px;
    position: relative;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #6c55e000;
}
#linkView:hover{
    
   background: #7f31a0;
   transform: scale(1.1);
   color: whitesmoke;
}
#btnDarkMode{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14pt;
}
/* #h1.activeBody, #h1_2.activeBody, #h1_3.activeBody,
#h1_4.activeBody, #h1_5.activeBody{
    color: white;
} */
#iconDarkMode{
    color: white;
}
#modalDiv{

    background: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    display: none;
    transition: 0.5s;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin: auto;
    margin-top: -21px;
}
p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
}