::-webkit-scrollbar {
    width: 10px;
    background: grey;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(163, 43, 43, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
body{
    margin: 0%;
    background: rgb(255, 60, 60);
    background: linear-gradient(90deg, rgb(255, 84, 84) 21%, rgb(255, 153, 0) 82%);
    background-attachment: fixed;
    transition: 0.3s;
}
#main{

    background: rgba(151, 65, 65, 0);
    height: 545px;
}
#navBar{

    background: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    transition: 0.5s;

    margin-top: -30px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;

    width: 500px;

    

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#infMain{

    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    transition: 0.5s;

    /* display: flex;
    flex-direction: row; */
}
#navBar.activeBody, .infBlack1.activeBody,
.infBlack2.activeBody , .infBlack3.activeBody,
.infBlack4.activeBody, .infBlack5.activeBody{

    background: rgb(29, 29, 29);
}
footer{

    /* background: rgb(255, 60, 60);
    background: linear-gradient(90deg, rgb(255, 84, 84) 21%, rgb(255, 153, 0) 82%);
    background-attachment: fixed; */
    width: 100%;
    height: 60px;
    margin-top: 360px;
}
#divLinks{
    margin: auto;
    margin-top: -30px;
    background: rgb(255, 255, 255);
    width: 200px;
    height: 35px;
    border-radius: 25px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    text-align: center;
    padding: 10px;
}
#linkFooter{
    color: rgb(139, 139, 139);
    background: rgba(255, 192, 203, 0);
    margin: 15px;
    font-size: 22pt;
}
i{
    transition: 0.6s;
}
i:hover{
    transform: scale(1.3);
}
.instagram:hover{
    
    color: #ff4040;
    color: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
}
.linkdin:hover{

    color: royalblue;
}
.github:hover{

    color: black;
}
#mainImg{

    width: 350px;
    height: 250px;
    border-radius: 5px;
    box-shadow: rgba(231, 73, 73, 0) 0px 3px 8px;
    cursor: pointer;
}
#linkNav{
   
    text-decoration: none;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    font-size: 14pt;
    color: rgb(139, 139, 139);
    transition: 0.5s;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#linkNav:hover{

    border-bottom: 2px solid brown;
    color: brown;
}
.inf1{

    background: rgb(255, 255, 255);
    width: 400px;
    height: 430px;
    display: inline-block;
    margin: 50px;
    border-radius: 15px;
    transition: 0.4s;
}
h1{
    transition: 0.4s;
    font-family: 'Quicksand', sans-serif;
}
#linkView{

    background: rgba(255, 255, 255, 0);
    margin: auto;
    position: relative;
    text-decoration: none;
    color: grey;
    font-family: 'Quicksand', sans-serif;
    transition: 0.5s;
    padding: 3px;
    border-bottom: 2px solid rgba(107, 20, 20, 0);
}
#linkView:hover{
    color: brown;
    border-bottom: 2px solid brown;
   
}
#btnDarkMode{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14pt;
}
#h1.activeBody, #h1_2.activeBody, #h1_3.activeBody,
#h1_4.activeBody, #h1_5.activeBody{
    color: white;
}
#iconDarkMode.activeBody{
    color: gray;
}
#modalDiv{

    background: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    display: none;
    transition: 0.5s;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin: auto;
    margin-top: -21px;
}
p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
}